header{
width: 100%;

}
header img{
height: 121px;
float:left;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    padding-bottom: 98px;

}

li {
    float: right;
    border-left: 1px solid black;
    height: 37px;
    margin-top: -14px;

}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
#search {
  float: right;

}

#search input[type="text"] {
    background: url(search-white.png) no-repeat 10px 6px #fcfcfc;
    border: 1px solid #d1d1d1;
    font: bold 12px Arial,Helvetica,Sans-serif;
    color: #bebebe;
    width: 150px;
    padding: 6px 15px 6px 35px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
    }

#search input[type="text"]:focus {
    width: 200px;
    }
nav {
	background-color: #12243a;
	height: 70px;
}
nav a{
  color: white;
  font-style: normal;
  font-weight: bolder;
  font-family: sans-serif;
  text-decoration: none;
  padding-right: 98px;
    padding-left: 80px;
    display: inline-grid;
      padding-top: 26px;


}
footer{

   position:fixed;
   left:0px;
   bottom:0px;
    width: 100%;
  background-color: #12243a;
  border: 1px solid #12243a;
}
.container{
  width: 750px;
  text-align: center;
  margin-right: auto;
margin-left: auto;
padding-left: 15px;
padding-right: 15px;
font-size: 20px;

}
.buton{
    width: 100%;
    height: 75px;
       margin: 0;
    padding: 0;
}

.buttonsRow{
    height: 50%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.button-wrapper{
    display: inline-block;
    margin: 0;
    padding: 0;
}

button{
    height: 33px;
    width: 100%;
    margin: 2px;
}
.abtus h1{
  text-align: center;
  position: relative;
  background-color: #FFFAF0;
  opacity: .7;
  padding: 10px;
  width: 44%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;

}
.abtus p1{
  padding-top:1em;
  padding-bottom:0;
  font-size:1.5em;
}
